@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');
@import url('./pokedex.css');
@import url('./pokedex-details.css');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #f6f8fc;
}
.content{
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #fff;
}
.content h1{
    margin: 10px 0 ;
}

@media screen and (min-width: 350px){
    .pokemons{
        grid-template-columns: 1fr 1fr ;
    }
    .pokemon{
        margin-right: 5px;
    }
    .cards__buttons button{
        padding: 0.5rem;
        font-size: 1rem;
        margin-right: 0.5rem;
    }
   
}
    

@media screen and (min-width: 576px){

    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #button__return{
        font-size: 2rem;
    }
    .pokemon__detail__title{
        font-size: 2rem;
        margin-left: 2rem;
    }
    .pokemon__detail__title li{
        margin-right: 1rem;
    }
    .pokemon__detail__image {
        width: 25rem;
    }
    .pokemon__detail__id{
        margin-right: 5rem;
        font-size: 2rem;
    }
    .cards{
        margin-left: 0;
    }
    .cards__buttons{
        justify-items: center;
    }
    .cards__buttons button{
        font-size: 1.2rem;
        margin-right: 1.3rem;
        padding: 1.5rem;
    }
    .cards__content{
        align-self: normal;
    }

}

@media screen and (min-width: 992px){
    .content{
        max-width: 992px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .pokemon__detail__title{
        font-size: 3rem;
        margin-left: 3rem;
    }
    .pokemon__detail__image {
        width: 35rem;
    }
    .pokemon__detail__id{
        margin-right: 8rem;
        font-size: 3rem;
    }
    .cards{
        margin-top: -2.3rem;
    }
    .cards__buttons{
        justify-content: center;
    }
    .cards__buttons button{
        font-size: 2rem;
        margin-right: 2rem;
        padding: 2rem;
    }
    .cards__content{
        margin-left: 5rem;
    }
}
@media screen and (min-width: 1100px){
   
    .cards__content{
        margin-left: 15rem;
    }
}
@media screen and (min-width: 1600px){
    .cards__content{
        margin-left: 30rem;
    }
}
